@import "tailwindcss";
:root {
  --main: white;
  --accent: lightgray;
  --light: black;
}

.image-wall {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 80px;
  gap: 12px;

  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.image-item {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  background: #111;
}

.image-item .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* mobile-first */

.img-a {
  grid-column: 1 / span 4;
  grid-row: span 3;
}

.img-b {
  grid-column: 1 / span 2;
  grid-row: span 2;
}

.img-c {
  grid-column: 3 / span 2;
  grid-row: span 2;
}

.img-d {
  grid-column: 1 / span 3;
  grid-row: span 2;
}

.img-e {
  grid-column: 4 / span 1;
  grid-row: span 3;
}

@media (min-width: 768px) {
  .image-wall {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 90px;
    gap: 16px;
  }

  .img-a {
    grid-column: 1 / span 4;
    grid-row: span 4;
  }

  .img-b {
    grid-column: 5 / span 2;
    grid-row: span 2;
  }

  .img-c {
    grid-column: 5 / span 2;
    grid-row: span 3;
  }

  .img-d {
    grid-column: 2 / span 3;
    grid-row: span 3;
  }

  .img-e {
    grid-column: 1 / span 1;
    grid-row: span 3;
  }
}
