---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Button } from "../components/ui";



const t = {

    title: "Thank you!",
    message: "Your form has been submitted successfully. We’ll get back to you soon.",
    back: "Back to Homepage",
};
---

<BaseLayout pageTitle={t.title} >
  <section class="flex flex-col items-center justify-center min-h-[60vh] px-4 py-12 text-center">

        <div class="text-center">
      <Button
        text= "Back to home page"
        href={`/`}
        variant="secondary"
      />
    </div>
  </section>
</BaseLayout>
