---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Title, Button, Box } from '../components/ui';





const content = {

    title: "Page Not Found 😕",
    message: "It looks like you've reached a page that doesn’t exist.",
    button: "Back to Home",
};

---

<BaseLayout pageTitle={content.title} >
  <section class="min-h-[70vh] flex flex-col justify-center items-center text-center px-4">
    <Box className="p-8 max-w-lg mx-auto flex flex-col items-center gap-6 border border-[var(--light)] rounded-lg shadow-md">
      <Title text={content.title} size="lg" />
      <p class="text-[1.1rem] text-[var(--light)] leading-relaxed">{content.message}</p>
      <Button
        text={content.button}
        href={`/`}
        variant="primary"
      />
    </Box>
  </section>
</BaseLayout>
