---
import BaseLayout from "../layouts/BaseLayout.astro";
import GriidWall from "../components/GridWall";
import { mediaMap, type MediaKey } from "../media/map";

export function getStaticPaths() {
  return Object.keys(mediaMap).map((key) => ({
    params: { media: key },
  }));
}

const media = Astro.params.media as MediaKey;
const data = mediaMap[media];
---

<BaseLayout pageTitle={data.title}>
  <h1 class="px-4 sm:px-6 lg:px-8 mb-6 text-2xl text-black font-medium">
  {data.title}
</h1>
  <GriidWall items={data.items} client:visible />
</BaseLayout>
