---
// src/pages/[lang]/about.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import { Box, Title, Button, Image } from '../components/ui';



const content = {

    title: "About Me",
    paragraphs: [
"Hi, I'm Naama.",
" I'm a video editor, motion designer, and 3D character animator proficient in After Effects, Premiere Pro, and the Adobe Suite, as well as Maya and Blender.",
"When I’m not animating, you’ll likely find me behind a camera pursuing my passion for photography.",

"EDUCATION",

"BA / Animation - Bezalel Academy of Art & Design",
"Jerusalem, Israel"
    ],

};


---

<BaseLayout pageTitle={content.title} }>
  <section class="py-16 md:py-24 px-4">
    <div class="container mx-auto flex flex-row gap-8">
      <Box className="p-8  ">
        <Title text={content.title} size="lg" className="mb-2" />
        <div class="container mx-auto flex flex-row gap-8">
<div>
        {content.paragraphs.map((p, idx) => (
          <p class="mb-4 text-[var(--light)] leading-relaxed">{p}</p>
        ))}
        </div>
    <Image src="/about.jpg" alt='' className="max-w-60 rounded-lg shadow-lg" />

</div>
      </Box>

    </div>

  </section>
    <section class="max-w-6xl mx-auto px-4 py-12">
        <div class="text-center">
      <Button
        text= "Back to home page"
        href={`/`}
        variant="secondary"
      />
    </div>
  </section>
</BaseLayout>
