---
import { line , hamburger, navlinks} from "../styles/styles"
---
<div id="hamburger" class={hamburger}>
    <span class={line}></span>
    <span class={line}></span>
    <span class={line}></span>
</div>
<script>
  const btn = document.getElementById('hamburger');
  const nav = document.getElementById('navlinks');

  btn?.addEventListener('click', () => {
    nav?.classList.toggle('hidden');
  });
</script>
