---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import { header, logo, langlink } from '../styles/styles';


---
<header class={header}>
  <div class="flex w-full items-center justify-between lg:justify-start lg:flex-col gap-10">
    
    <div class={logo}>
      <a href="/">
        <img src="/Naama Logo.png" alt="Logo" class="w-auto" />

      </a>
    </div>

    <Hamburger />
    <Navigation />

  </div>
</header>


